<div class='container'>
	<h3>
		Case Submitted!
	</h3>Dear <%= user.displayname %>,
	<pre>
Your ticket has been submitted and will be reviewed shortly.
It will be referred to as ticket id: <%= case_id %>.
Thank you.
</pre>
</div>
