<div class='container'>
	<h2>
		Introduction to the B-CARE Tool
	</h2><br>
	<div class='well'>
		<iframe src="https://www.google.com/calendar/embed?src=ntjdi3ss71nqou8976ie708ats%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
	<div class='container'>
		<h3>
			Webinar Registration
		</h3>Please, request an invitation for any particular webinar and an invitation email will be sent.<br>
		<ul>
			<li>In your invitation email, a link to the registration page will be provided.
			</li>
			<li>Please fill in your name, email address, organization and hospital name.
			</li>
			<li>After filling in information, second email will be sent containing login information and link to join webinar.
			</li>
		</ul>
	</div>
</div>
