<table class='table table-condensed'>
  <tr>
	<td width='250'>	
		<img src='/img/BCARE_Honeycomb_Art.png' width='200'/>
	</td>
	
	<td>
	
	<div class="row">  
		<div id="grad1"></div><br/>
		<span style="font-size: 24px; color: #CC0000;"><a name="content"></a>Contact Information</span><br/>
	</div>
		

	<div class="row">
		<h3 style="color:#3399FF">B-CARE Trainers</h3>

			<ul>
				<li>Lynnette Pair Young</li>
				<li>Johnnetta Davis-Joyce</li>
				<li>Wendy Gary</li>
				<li>Emily K. Grossman</li>
				<li>Monique Sheppard</li>
				<li>Karine Mauprivez</li>
				<li>Nikitha Mohan</li>
				<li>Nancy Weller</li>
			</ul>
			<br/>
			All Master Trainers can be reached at <a href='mailto:bcare@caretoolsystem.com'>bcare@caretoolsystem.com</a>
			<br/>

	</div>
	
	
	<div class="row">
		<h3 style="color:#3399FF">B-CARE Help desk</h3>
		
<pre>
An operator is available to take your call 
Monday-Friday 8am-8pm; Saturday-Sunday 8am-2pm. 

You may leave a voicemail at any other time. 
Please contact us today!
	
Toll Free: 888.207.0728 or
<a href='mailto:bcare@caretoolsystem.com'>Email Us</a>
	
If you would like to submit a helpdesk ticket, please login or 
create a profile by clicking the Login link at the top right of this webpage
		
</pre>
	</div>
		
		<br/>
		
		<div class="row">
		<img src='/img/Two_Logos.png' width='200' /><br/>
		</div>
	</td></tr>
</table>	
<br/>
<br/>
