<table class='table table-condensed'>
  <tr>
	<td width='250'>	
		<img src='/img/BCARE_Honeycomb_Art.png' width='200'/>
	</td>
	
	<td>
	
	<div class="row">  
		<div id="grad1"></div><br/>
		<span style="font-size: 24px; color: #CC0000;"><a name="content"></a>Webinars</span><br/><br/>
	</div>


	<div class='row'>
		To register for a training session, please click on a type of session. You will be directed to a calendar for that specific training. 
		Choose which time you would like, click on it, and you will be taken outside of the B-CARE site to the registration page. 
		These trainings/webinars are for new users or anyone who needs a refresher.
		If you would like to see a full calendar of all trainings, please click this <a href='/calendar'>link</a>.
	</div>

	<div class='row'>
		<h3><a href='/calendar/1'>Getting Ready for B-CARE</a></h3>
This 1-hour webinar will cover B-CARE Roles and Responsibilities, Technical Requirements, Portal Registration Process and Access, Security Protocols and Requirements, Tool Functionality, Steps for B-CARE Submission and Approval, Quality and Completeness Checks, 
and Help Desk Information Time-Saving Tips.	
	</div>

	<div class='row'>
		<h3><a href='/calendar/2'>Introduction to the B-CARE Tool</a></h3>
		Introduction to B-CARE Tool training webinars include a review of key B-CARE Tool components, 
		data collection requirements, tracking completeness guidelines, Help Desk support information, 
		and any training materials/handouts from the Master Trainers.
	</div>


	<div class='row'>
		<h3><a href='/calendar/3'>Monthly B-CARE Coordinator Webinars</a></h3>
		Once a month, the Master Trainers will hold webinars that are model specific. 
		These webinars will primarily be for B-CARE Coordinators at Awardee facilities, CMS Project Officers 
		and Program Leads. Content will vary by month depending on Awardee need, but will serve as a platform 
		for discussing help desk issues, getting feedback on the B-CARE Tool and discussing Awardee staffing.	
	</div>

	<div class='row'>
		<h3><a href='/calendar/4'>Discussion Forums</a></h3>
Discussion forums are a monthly webinars  between Master Trainers and B-CARE Coordinators across all models. Topics will include B-CARE data quality, data collection process, training and staffing requirements and other 
topics or questions as desired. 	
	</div>
	</td>

	</tr>
</table>	
<br/>
<br/>