<table class='table table-condensed'>
  <tr>
	<td width='250'>	
		<img src='/img/BCARE_Honeycomb_Art.png' width='200'/>
	</td>
	
	<td>
	
	<div class="row">  
		<div id="grad1"></div><br/>
		<span style="font-size: 24px; color: #CC0000;"><a name="content"></a>FAQ</span><br/><br/>

		<iframe src="<%= url %>" width=900 height=900 frameborder='0'> </iframe>
	</div>
	</td>
  </tr>
</table>