<h3>Case Submitted!</h3>


Dear <%= user.displayname %>,

<pre>
Your Question has been submitted and will be reviewed by a Moderator shortly.
It will be referred to as case id: <%= case_id %>.
Thank you.
</pre>