<h3>Profile Update</h3>

<pre>
Dear <%= user.displayname %>,

A email to <%= user.email %> has been sent for verification.
If you have not received it, please let us know.
This is important so we can connect you to the Helpdesk directly from the site.
You will also be able to receive ticket confirmation receipts, case statuses and list all your tickets.

Thank you.

The B-CARE HelpDesk Team.
</pre>