<div id="contentlist">
<p>
<h1> Welcome</h1>
<p>The purpose of this website is to provide analytical and quantitative information to employees of Econometrica Inc.</p>

<h2>Updates</h2>
<p>    &raquo;&nbsp;2013-08-30 06:19:38@ &nbsp;Added SES Index Page<br>&raquo;&nbsp;2013-08-20 12:14:46@ &nbsp;Added First Did You Know: Smoking Doctors<br>&raquo;&nbsp;2013-08-18 17:29:56@ &nbsp;Area Resource File overview has been added.<br>&raquo;&nbsp;2013-08-18 11:13:39@ &nbsp;Moved site onto EconoQuants.org domiain/hosting.<br>&raquo;&nbsp;2013-08-18 07:17:11@ &nbsp;Added Did You Know Page<br>&raquo;&nbsp;2013-08-17 21:20:37@ &nbsp;Added HCUP Database Overview<br>&raquo;&nbsp;2013-08-17 21:19:02@ &nbsp;Going Live!<br>&raquo;&nbsp;2013-08-17 21:12:28@ &nbsp;Going Live!<br></p>

   </p>
</div>
