<h2>Analytics</h2>

<ul>
	<li><a href='https://segment.io/b-care/dashboard'>Segment.IO Dashboard </a></li>
	<li><a href='/help_desk'>ZenDesk.com Reports</a></li>
	<li><a href='http://www.gooddata.com'>GoodData Reports</a></li>
	<li><a href='https://newrelic.com'>NewRelic Dashboard</a></li>
	<li><a href='http://www.slideshare.net/bcarehelpdesk'>Slideshare Analytics/Dashboard (login as FB user)</a>
	<li><a href='http://www.twitter.com/bcarehelpdesk'>Twitter Analytics/Dashboard</a>
	<li><a href='https://www.facebook.com/bcare.helpdesk'>Facebook Analytics/Dashboard</a>
	<li><a href='http://www.linkedin.com/profile/view?id=306518085'>Linkedin Analytics</a>
	<li><a href='https://papertrailapp.com/'>System Logs on Papertrail</a>
	<li><a href='http://www.twilio.com/'>Twilio Analytics</a>
	<li><a href='http://www.sendgrid.com/'>SendGrid Analytics</a>
	<li><a href='http://www.singly.com/'>Singly Analytics</a>
	<!--
	<li><a href='http://www.amazon.com/'>Amazon S3</a>
	-->
</ul>
