<h2><%= id %></h2>
<hr/>

<div class="row">
<% for( var f in files ) { var file = files[f]; png = file['png']; href = file['pdf'] || file['mp4']%>

	  <div class="col-sm-6 col-md-3">
	    <a href="<%= href %>" class="thumbnail">
	      <img src="<%= png %>" />
		  <%= f %>
	    </a>
	  </div>

<% } %>

</div>