<ol class="breadcrumb">
  <li><a href="/training">Training Materials</a></li>
  <li class="active">Webinars/Videos</li>
</ol>

<h3>Webinars/Videos</h3>

<div class="row">
<% for( var f in files ) { var file = files[f]; png = file['png']; href = file['mp4']%>

	<div class="col-sm-6 col-md-3">
		<video controls="controls" poster="<%= png %>" width="640" height="360">
			<source src="<%= href %>" type="video/mp4" />
		</video>
	</div>
<% } %>

</div>