<h2>Full Calendar Of All B-CARE Webinars</h2>
<br/>
<div class='well'>
<!--
	<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=b86lhv7orhovilo62fga1nkp64%40group.calendar.google.com&amp;color=%232952A3&amp;src=b20io25o94nhbm9mvb5j6j0j2g%40group.calendar.google.com&amp;color=%235229A3&amp;src=plrek71emc6k4cvp3cs6vlgbjo%40group.calendar.google.com&amp;color=%23333333&amp;src=vc99gal3e5svot242nkha09l00%40group.calendar.google.com&amp;color=%23875509&amp;src=92854ajmci5aptg92evnseabrk%40group.calendar.google.com&amp;color=%23B1440E&amp;src=c1vubnvo21rn0j8575tv1vk530%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
-->
<iframe src="https://www.google.com/calendar/embed?src=m5dnbd5iltl5089fmtp22rggn8%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

</div>
<div class='container'>
<h3>Webinar Registration</h3>
Please, request an invitation for any particular webinar and an invitation email will be sent.
<br/>
<ul>
<li>In your invitation email, a link to the registration page will be provided.</li>
<li>Please fill in your name, email address, organization and hospital name.</li>
<li>After filling in information, second email will be sent containing login information and link to join webinar.</li>
</ul>
</div>