<div class='splash_screen'>
<img src='/img/HomePage.png' width='1080'/>
</div>
<br/>
<br/>

<div class='bottom_splash_screen'>
Econometrica Inc (c) 2014 &nbsp;-&nbsp;
<a href='/privacy'>Privacy Statement</a>
</div>