<h2>B-CARE Trainers</h2>

<div align=justify>
	<ul>
	<li>Lynnette Pair Young</li>
	<li>Johnnetta Davis-Joyce</li>
	<li>Wendy Gary</li>
	<li>Emily K. Grossman</li>
	<li>Monique Sheppard</li>
	<li>Karine Mauprivez</li>
	<li>Nikitha Mohan</li>
	<li>Nancy Weller</li>
	</ul>
<br/>
All Master Trainers can be reached at bcare AT caretoolsystem.com.
<br/>

<img src="/img/CMS-RegionMap_400x278.png" alt="An image of the USA split into ten numbered regions"/>
</div>