<table class='table table-condensed'>
  <tr>
	<td width='250'>	
		<img src='/img/BCARE_Honeycomb_Art.png' width='200'/>
	</td>
	
	<td>
	
	<div class="row">  
		<div id="grad1"></div><br/>
		
		<span style="font-size: 24px; color: #CC0000;"><a name="content"></a>Training Materials</span>
		<br/><br/>

		B-CARE training is available in various forms.
	</div>

 
	<div class='row'>
		<h3><a href="/materials/manuals">Training Guides</a></h3>
			Model-specific guides that provide instructions on how to complete the B-CARE tool.
	</div>
		
	<div class='row'>
		<h3><a href="/materials/instructions">B-CARE Training Manual</a></h3>
			Overall guides for the B-CARE initiative that contains basic information, IT protocols & procedures, and references. 
	</div>

	<div class='row'>
		<h3><a href="/materials/scenarios">Resources</a></h3>
			Includes supplementary materials such as a glossary, useful websites, quick reference cards.
	</div>

	<div class='row'>
		<h3><a href="/materials/wistia">Webinar Materials</a></h3>
			<p>
Power Point files from Getting Ready for B-CARE and Introduction to the B-CARE Assessment Tool.  There are also recordings of both webinars in this section.
			</p>
	</div>

	<!--
	<td>
	<a href="/help_desk/screensteps">Screen Steps</a><br>
	<a href="/materials/instructions">Step-by-step Instructions</a><br>
	<a href="<%= config.facebook %>">Community Discussions</a><br>
	</td>
	-->

	</td></tr>
</table>	
<br/>
<br/>