<h3>Contact Help Desk?</h3>
<br/>

Dear <%= user.displayname %>,<br/><br/>

<div class='row'>
  <div class="col-xs-6 col-md-8">
	  Do you want the next available agent call you at <%= user.phone %>? <br/>
	  <button type="button" class="btn btn-default"><a href='/twilio/call_helpdesk'>Please</a></button>  
  </div>
  <!--
  <div class="col-xs-6 col-md-8">
	  Do you want to try to call the Help Desk via your current browser ? <br/>
	  <button type="button" class="btn btn-default"><a href='/twilio/call_browser'>Please</a></button>  
  </div>
  <div class="col-xs-6 col-md-8">
	  Do you want to leave a recording and have an agent email you a response? <br/>
	  <button type="button" class="btn btn-default"><a href='/twilio/call_record'>Please</a></button>  
  </div>
  <div class="col-xs-6 col-md-8">
	  Do you want to post a public question? <br/>
	  <button type="button" class="btn btn-default"><a href='https://bcarehelp.desk.com/customer/portal/questions/new'>Please</a></button>  
  </div>  
  <div class="col-xs-6 col-md-8">
	  Do you want to email us? <br/>
	  <button type="button" class="btn btn-default"><a href='https://bcarehelp.desk.com/customer/portal/emails/new'>Please</a></button>  
  </div>

  <div class="col-xs-6 col-md-8">
	  Do you want to chat with next available agent? <br/>
	  <button type="button" class="btn btn-default"><a href='https://bcarehelp.desk.com/customer/portal/chats/new'>Please</a></button>  
  </div>
  -->
  
</div>