<!DOCTYPE html>
<html lang="en-US">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<link rel="icon" type="image/png" href="/img/BCARE_Help_Icon_16x16.png" />
	
	<!-- Bootstrap	-->
 	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="/css/persona-buttons.css" />
	<style>
	   /* ========================================================
	    *    Demo styles
	    * ===================================================== */
	   .wrap{
	     margin: 100px auto;
	     text-align: center;
	     width: 300px;
	   }
	   .wrap a{
	     margin-bottom: 40px;
	   }
	 </style>
	 
	<title>B-CARE Login</title>
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesnt work if you view the page via file:// -->
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->	   
</head>



<div class='container'>
	<h2>Please Login with your Email</h2>
	<div id='browser' style:"display:none"></div>

	<div class="wrap">
	  <div class="persona-button" id='signin'><span>Sign in with your Email</span></div>
	</div>
</div>

<script src="https://login.persona.org/include.js"></script>

<script>

var currentUser = 'bob@example.com';
<% if( typeof user != 'undefined' ) { %>
var currentUser = <%- JSON.stringify(user) %>;
if( currentUser ) {
  email = currentUser.email;
  console.log("email:"+email)
}
<% } %>

$(function() {
	$('#signin').on('click', function(event) {
		event.preventDefault();
		navigator.id.request();
	});
	
	$('#signout').on('click', function(event) {
		event.preventDefault();
		navigator.id.logout();
	});

	navigator.id.watch({
	  loggedInUser: currentUser,
	  onlogin: function(assertion) {
		console.log("onlogin")
		var return_to = '<%= return_to %>';
	    $.ajax({ 
	      type: 'POST',
	      url: '/persona/verify', // This is a URL on your website.
	      data: {assertion: assertion},
	      success: function(res, status, xhr) { 
			  console.log("return to:"+return_to)
			  window.location.replace(return_to); 
		  },
	      error: function(xhr, status, err) {
	        navigator.id.logout();
	        alert("Login failure: " + err);
	      }
	    });
	  },
  
	  onlogout: function() {
		console.log("onlogout"+email)
	    navigator.id.logout();
	  }
	});
});

// check for browser compatibility
if (/MSIE (\d+\.\d+);/.test(navigator.userAgent)){ 
	var browser_error = "Internet Explorer is Not Supported!"
	$('#browser').html(browser_error);
	$('#browser').show();
}

</script>
